.git/
.idea/
__pycache__/
.pytest_cache/
.streamlit/
.snakemake/
*.sif
*.def
pyproject.toml
.gitignore
data/annovar/humandb/dbs/hg38_abraom.txt
data/annovar/humandb/dbs/hg38_abraom.txt.idx
data/annovar/humandb/dbs/hg38_clinvar_20250721.txt
data/annovar/humandb/dbs/hg38_clinvar_20250721.txt.idx
data/annovar/humandb/dbs/hg38_dbnsfp42c.txt
data/annovar/humandb/dbs/hg38_dbnsfp42c.txt.idx
data/annovar/humandb/dbs/hg19_abraom.txt
data/annovar/humandb/dbs/hg19_abraom.txt.idx
data/annovar/humandb/dbs/hg19_clinvar_20250721.txt
data/annovar/humandb/dbs/hg19_clinvar_20250721.txt.idx
data/annovar/humandb/dbs/hg19_dbnsfp42c.txt
data/annovar/humandb/dbs/hg19_dbnsfp42c.txt.idx
data/genome/*.fa
data/genome/*.fai

